/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Special Effects style sheet
   Author: 
   Date:   

   Filename:         effects.css
   Supporting Files: borderimg.png

*/

