/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Mobile Styles
   Author: 
   Date:   

   Filename:         mobile.css
   Supporting Files: tblogo_sm.png, portrait.txt, landscape.txt

*/

/* Styles to be used with mobile devices */



