/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Print Styles
   Author: Steven Croft 
   Date: 6/20/2014  

   Filename:         print.css
   Supporting Files: 

*/

/* Styles to be used for print displays */

@page
{
	size: 8.5in 11in portrait;
	margin: 0.5in;
}

/* Hide page elements that will not be printed */

header, nav, footer
{
	display: none;
}

/*Setting the page breaks in the document*/

article
{
	display: block;
	page-break-after: always;
	page-break-inside: avoid;
}

/* styles for the h1 heading */

h1
{
	font-size: 28pt;
	text-align: center;
	width: 100%;
}

/* styles for the main photo */

#photo1
{
	display: block;
	margin: 0in auto;
	width: 4in;
}

/* styles for the figure boxes */

figure
{
	display: block;
	text-align: center;
	page-break-after: always;
	page-break-inside: avoid;
}

figure img
{
	width: 5in;
}

figure figcaption
{
	font-size: 20pt;
}

figure:last-of-type
{
	page-break-after: avoid;
}