/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Print Styles
   Author: 
   Date:   

   Filename:         print.css
   Supporting Files: 

*/

/* Styles to be used for print displays */



