/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Steven Croft
   Date:   4/8/2014

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


