/*
	Sunny Acres Style Sheet
	Author: Steven Croft
	Date: 3/3/2014
*/

@font-face 
{
   font-family: 'NobileRegular';
   src: url('nobile-webfont.eot');
   src: local('?'), 
        url('nobile-webfont.woff') format('woff'), 
        url('nobile-webfont.ttf') format('truetype'), 
        url('nobile-webfont.svg#webfontsKo9tqe9') format('svg');
}

/* Body styles */

body 
{
	background-color: white;
	font-family: NobileRegular, Verdana, Geneca, sans-serif;
	line-height: 1.4em;
}

/* Heading styles */

section h1
{
	background-color: rgb(125, 186, 240);
	color: white;
	font-size: 1.7em;
	letter-spacing: 0.4em;
	line-height: 1.8em;
	text-indent: 1em;
}

h2 
{
	background-color: rgb(0, 165, 0);
	color: white;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 0.4em;
	line-height: 1.8em;
	text-indent: 1em;
}

/* Navigation list styles */

nav ul
{
	list-style-type: none;
	padding-left: 0.5em;
	background-color: rgb(125, 185, 240);
	line-height: 3.5em;
}

nav ul li:hover
{
	background-color: rgb(83, 142, 213);
}

nav ul li:first-of-type
{
	text-transform: uppercase;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}

/* Section Styles */

section p.closing
{
	color: rgb(0, 165, 0);
	text-align: right;
}

section h2+ul
{
	list-style-image: url(arrow.png);
}

/* Footer Styles */
footer address
{
	background-color: rgb(55, 102, 55);
	color: white;
	color: rgba(255, 255, 255, 0.8);
	font: normal small-caps 0.8em/4em 'Times New Roman', Times, serif;
	text-align: center;
}