/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Tutorial Case

   Jumbo Popcorn Style Sheet
   Author: 
   Date:   

   Filename:         clips.css
   Supporting Files: 

*/



