/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Review Assignment

   Tree and Book Style Sheet

   Filename:         dfbase.css
   Supporting Files: 

*/

/* Basic styles to be used with all devices and under all conditions */



/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */

body {
   margin: 0px;
   width: 100%;
}

body * {

   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;

}