/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Review Assignment

   Special Effects style sheet
   Author: 
   Date:   

   Filename:         dfeffects.css
   Supporting Files: paper.png

*/


